.payment-section{
    background-color: whitesmoke;
}
.payment-section-card-image{
    height: auto;
    width: 250px;
    border-radius: 15px;
}
.payment-section-card{
    text-align: center;
    padding: 28px;
}
.payment-section-card-title{
    font-weight: bold;
}
.payment-section-card-discription{
    font-weight: 500;
}
.payment-section-card-button{
    background-color: rgb(138, 138, 12);
    color: white;
    border-width: 0px;
    width: 120px;
    font-size: 15px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.card-image{
    height: 50px;
    width: 100px;
    margin-bottom: 48px;
    margin-right: 15px;
}